@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* * {
  outline: 1px solid red;
} */

body {
  @apply bg-black font-roboto p-2 relative h-screen
}

#root {
  @apply h-full
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.slider-shadow {
  -webkit-mask-image: linear-gradient(90deg,transparent,#000 120px,#000 calc(100% - 120px),transparent);
  /* -webkit-mask-image: linear-gradient(90deg,transparent,#000 120px); */
  mask-image: linear-gradient(90deg,transparent,#000 120px,#000 calc(100% - 120px),transparent)
}

.dropdown-panel {
  transform: translate3d(238px, 274px, 0px)
}

::-webkit-scrollbar {
  @apply bg-transparent z-40
}

::-webkit-scrollbar-thumb {
  @apply bg-white bg-opacity-20 hover:bg-opacity-50
}